body, ul, h2, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #111;
    color: #fff;
}

.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-item {
    flex-basis: 300px;
    flex-shrink: 0;
    margin: 0 4px;
    opacity: 0.4;
    transition: all .4s;
}

.language-item:hover {
    opacity: 1;
    flex-basis: 500px;
    margin: 0 20px;
    
}

.language-item img {
    width: 100%;
}

.profile {
    background-color: #222;
    position: relative;
    overflow: hidden;

}

.profile:before {
    content: ' ';
    background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); 
    background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}

.profile-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.profile-contents h2 {
    font-size: 30px;
}


.profile-contents p {
    color: white;
    font-size: 20px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all 1s;
    opacity: 0;
}

.language-item:hover .profile-contents p {
    opacity: 1;
    transition-delay: .4s;
    max-height: 6em;
    margin-top: 0.4em;
}










