<!doctype html>
<html>

<head>
  <title>Front Language</title>
  <link rel="stylesheet" href="empty-code-page-style.css">

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  <script>
    $(document).ready(function () {

      $(".btn-box").on('click', function () {
        $(".comment").addClass("afterText");
      });
      $("textarea").on('keyup.enter', function () {
        $(".comment").addClass("afterText");
      });
    });

    new Vue({
      el: "#wrapper",
      data: {
        newItem: '',
        item: [],
      },
      methods: {
        addItem() {
          this.item.push(this.newItem);
          this.newItem = "";
        }
      }

    });
  </script>
</head>

<body>

  <!-- HTML Box -->


  <div class="codeheader col " id="codeheader_html">HTML</div>
  <div class="codebox">

  </div>

  <!-- CSS Box -->
  <div class="codeheader col-6" id="codeheader_css">CSS</div>
  <div class="codebox">
  </div>

  <!-- JS Box -->

  <div class="codeheader col-6" id="codeheader_js">JS</div>
  <div class="codebox">


  </div>
   <!-- 결과box-start  -->
  <div class="result-box">
    <img class="result1-img" src="images/addimage.jpg">
  </div>
  <!-- 결과box-end -->

  <!-- 댓글-start -->
  <section id="wrapper">
    <div class="box">
      <div class="row">
        <div class="col-6">
          <div class="comment">
            <p v-for="items in item" v-text="items"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <textarea type="text" class="input" placeholder="Your Comment Here" v-model="newItem"
            @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='btn-box' type="submit">Your Comment</button>
        </div>
      </div>
    </div>
  </section>
  <!-- 댓글-start -->
</body>

</html>