@charset "utf-8";
body, ul, h2, p {
    margin: 0;
    padding: 0;
}


li {
    list-style-type: none;
}

body {
    background-color: #212121;
    color: #fff;
    margin: 0;
    height: 1000px;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
}
.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h2{
  position: absolute;
  left: 10px;
}
/* 스크롤바 */
html { overflow-y:scroll; }
/* 스크롤바 */

/* 메뉴바-start */
.menu {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #1f1f1f;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\e8cc'; }
.menu li:nth-child(2) a::before{ content: '\e8d6'; }
.menu li:nth-child(3) a::before{ content: '\e87d'; }
.menu li:nth-child(4) a::before{ content: '\e88a'; }
.menu li:nth-child(5) a::before{ content: '\f02e'; }
.menu li:nth-child(6) a::before{ content: '\e8b8'; }

@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}
/* 메뉴바-end */

/* 검색창-start */
.search {
    position: absolute;
    width: 75%;
    top: 50px;
    margin-left: 250px;
    margin-right: 250px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
.search img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
/* 검색창-end */

/* gif박스-start */
.gif-box{
  width: 40%;
  height: 60%;
  position: relative;
  margin-left: 20%;
  bottom:10%;
}
/* gif박스-end */
.codeTitle{
    position:absolute;
    height: 10%;
    width: 100%;
    background-color: rgb(78, 78, 78);
    margin-top: -35px;
  }
/* 박스1-start */
.box-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #111;
    border-radius: 10px;
    display: inline-block;
    height: 35%;
    width: 20%;
    margin: 1rem;
  
    position: relative;
    left: 6.5%;
  }
  

  .box-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .main1-img{
      object-fit: cover;
      width:100%;
  }

  .user1-img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 30%;
    margin:1% 1% 1% 1%;  
    align-items: center;
    position: absolute;
    right: 68%;
    top: 63%;
  }

  .heart-img{
    width: 30%;
    height: 30%;
    border-radius: 30%;
    align-items: center;
    margin:1% 1% 1% 1%;  
    background-image: url("images/heart.png");
    background-size: 100%;
    position: absolute;
    left: 34%;
    bottom: 5%;
  }


  .heart-img:hover{  
    background-image: url("images/heart2.png");
  }
  
  .share-img{
    width: 30%;
    height: 30%;
    border-radius: 30%;
    align-items: center;
    margin:1% 1% 1% 1%;
    background-image: url("images/share.png");
    background-size: 100%;
    position: absolute;
    left: 68%;
    bottom: 5%;
  }

  .share-img:hover{
    background-image: url("images/share2.png");
  }

/* 박스2-start */
.main1-img{
    object-fit: cover;
    width:100%;
}

.user1-img{
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 30%;
  margin:1% 1% 1% 1%;  
  align-items: center;
  position: absolute;
  right: 68%;
  top: 63%;
}

/* 박스3-start */
.main1-img{
    object-fit: cover;
    width:100%;
}

.user1-img{
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 30%;
  margin:1% 1% 1% 1%;  
  align-items: center;
  position: absolute;
  right: 68%;
  top: 63%;
}

/* 박스4 -start */
.box-2 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #111;
  border-radius: 10px;
  display: inline-block;
  height: 35%;
  width: 20%;
  margin: 1rem;
  position: relative;
  top : 14%;
  left: 6.5%;
}
.box-2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main1-img{
    object-fit: cover;
    width:100%;
}

/* 박스-end */

/* 이동버튼-start */

.button-Next {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 30%;
  justify-content: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  position: relative;
  right: 84%;
  top:-2.5%
}

.button-Next:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}


.button-Next:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-Next {
    height: 48px;
  }
}

.button-Before{
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 30%;
  justify-content: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  position: relative;
  left: 5%;
  top:-2.5%
}

.button-Before:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}


.button-Before:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-Before {
    height: 48px;
  }
}

/* 이동버튼-end */