@charset "utf-8";
body, ul, h2, p {
    margin: 0;
    padding: 0;
}


li {
    list-style-type: none;
}

body {
    background-color: #2f4f4f;
    color: #fff;
    margin: 0;
    height: 1000px;
    background-image: url(images/gif2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
}
.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* 스크롤바 */
html { overflow-y:scroll; }
/* 스크롤바 */

/* 메뉴바-start */
.menu {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #1f1f1f;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\e8cc'; }
.menu li:nth-child(2) a::before{ content: '\e8d6'; }
.menu li:nth-child(3) a::before{ content: '\e87d'; }
.menu li:nth-child(4) a::before{ content: '\e88a'; }
.menu li:nth-child(5) a::before{ content: '\f02e'; }
.menu li:nth-child(6) a::before{ content: '\e8b8'; }

@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}
/* 메뉴바-end */

/* 검색창-start */
.search {
    position: absolute;
    width: 75%;
    top: 50px;
    margin-left: 250px;
    margin-right: 250px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
.search img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
/* 검색창-end */



.box-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #111;
    border-radius: 2px;
    display: inline-block;
    height: 27%;
    margin: 1rem;
    position: absolute;
    width: 15%;
    top: 110%;
    left: 17.6%;
  }
  
  .main-img{
      object-fit: cover;
      width:100%;
  }

  .user-img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 30%;
    margin:1% 1% 1% 1%;  
  }

  .heart-img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 30%;
    align-items: center;
    margin:1% 1% 1% 1%;  
    position: relative;
  }

  .heart2-img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 30%;
    align-items: center;
    margin:1% 1% 1% 1%;
    position: relative;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  .hear-img:hover .heart2-img{  
    opacity: 1;
  }
  
  .share-img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 30%;
    align-items: center;
    margin:1% 1% 1% 1%;  
    position: relative;
  }

  .share2-img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 30%;
    align-items: center;
    margin:1% 1% 1% 1%;  
    position: relative;
  }

  .box-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  