@charset "utf-8";
ody, ul, h2, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #212121;
    color: #fff;
}
 /* 로고 */
.logoimg{
    display: flex;
    position: absolute;
    left: 10px;
    top:10px;
    width: 200px;
    height: 120px;
}

/* language 박스 start*/
.wrapper {
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-item {
    flex-basis: 400px;
    flex-shrink: 0;
    margin: 0 4px;
    opacity: 0.4;
    transition: all .4s;
}

.language-item:hover {
    opacity: 1;
    flex-basis: 600px;
    margin: 0 20px;

}

.language-item img {
    width: 100%;
}

.profile {
    background-color: #222;
    position: relative;
    overflow: hidden;

}

.profile:before {
    content: ' ';
    background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); 
    background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); 
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}

.profile-contents {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.profile-contents h2 {
    font-size: 30px;
    color: white;
    text-align: left;
}


.profile-contents p {
    color: white;
    font-size: 20px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.2;
    transition: all 1s;
    opacity: 0;
    text-align: left;
}

.language-item:hover .profile-contents p {
    opacity: 1;
    transition-delay: .4s;
    max-height: 6em;
    margin-top: 0.4em;
}
/* language 박스 end */

/* 로그인 버튼 start */

  .container {
    justify-content: center;
    display: flex;
    text-align: center;
    right:20px; top: 20px;
    position: absolute;
  }
  .logBtn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
  }
  
  .reg {
    color: white;
    background-color: rgb(137, 172, 56);
  }
  
  .log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
  }
  
  .logBtn:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }
  
/* 로그인 버튼 and */










