@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    background-color: #111;
}
.loginbox {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    color: #fff;
}
.loginbox h2 {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
.loginbox form {
    width: 100%;
    height: 120%;
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px black;
}

.loginbox fieldset {
    border: none;
}

.loginbox legend {
    position: absolute;
    left: -999em;
    
}

.loginbox label {
    display: block;
    font-size: 13px;
    color: #222;
    margin-bottom: 10px;
}

.loginbox input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border: none;
    background-color: #ededed;
    padding: 0 20px;
    box-sizing: border-box;
}

.loginbox ul {
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
}

.loginbox li {
    display: inline-block;
    height: 12px;
    line-height: 12px;
}
.loginbox li:nth-child(2){
    border-left: 1px solid #333;
    padding-left: 10px;
    margin-left: 4px;

}
.loginbox li:last-child{
    border-left: 1px solid #333;
    padding-left: 10px;
    margin-left: 4px;

}

.loginbox a {
    color: #333;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.loginbox button {
    display: block;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    margin: 0 auto;
    border: none;
    background-color: #1673ea;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    
}