@charset "utf-8";
ody, ul, h2, p {
    margin: 0;
    padding: 0;
}


li {
    list-style-type: none;
}

body {
    background-color: #111;
    color: #fff;
    margin: 0;
    height: 500px;
}

.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* 스크롤바 */
html { overflow-y:scroll; }
/* 스크롤바 */

/* 메뉴바-start */
.menu {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\e8cc'; }
.menu li:nth-child(2) a::before{ content: '\e8d6'; }
.menu li:nth-child(3) a::before{ content: '\e87d'; }
.menu li:nth-child(4) a::before{ content: '\e88a'; }
.menu li:nth-child(5) a::before{ content: '\f02e'; }
.menu li:nth-child(6) a::before{ content: '\e8b8'; }

@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}
/* 메뉴바-end */

/* 검색창-start */
.search {
    position: absolute;
    width: 80%;
    right: 5px;
    left: 250px;
    top: 40px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
/* 검색창-end */

/* 배경-gif-start */
.gif-box{
    background-image: url(./images/gif2.gif);
    color: green;
    width: 70%;
    height: 50%;
    right: 5px;
    left: 250px;
    top: 45px;
    padding: 50px;
    margin: 40px;
    position : absolute;
}
/* 배경-gif-end */
