@charset "utf-8";
body {
    min-height: 100vh;

background: rgb(19,19,19);
background: -moz-linear-gradient(top,  rgba(19,19,19,1) 0%, rgba(119,118,179,1) 63%, rgba(216,216,216,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(119,118,179,1) 63%,rgba(216,216,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(19,19,19,1) 0%,rgba(119,118,179,1) 63%,rgba(216,216,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */

}

.input-form {
    max-width: 680px;
    margin-top: 80px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}