@charset "utf-8";

body {
    background-color: rgb(65,80,63);
}

/* 코드박스-start */
.codebox {
  padding: 15px;
  font-family: Courier, sans-serif;
  font-size: 1em;
	line-height: 1.3;
  color: #fff;
  background-color: #111;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  margin-bottom: 10px;
  overflow: scroll;
  -ms-overflow-style: none;
  width: 29.1%;
  height: 24vh;
  position: relative;
  
}

.codebox::-webkit-scrollbar { 
  display: none;
  width: 0 !important;
}

code {
	font-family: Courier, sans-serif;
  font-size: 1em;
	line-height: 1.3;
}

.codeheader {
  padding: 5px 5px 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: #fff;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  width: 30%;
}

#codeheader_html {
  background-color: #e67e22;
}
#codeheader_css {
  background-color: #0074D9;
}
#codeheader_js {
  background-color: #ffd400;
}

#codeheader_java {
  background-color: #ad9b8c;
}

#codeheader_python {
  background-color: #9e683c;
}

/* 코드박스-end */

 /* 결과박스-start */
 .result-box{
   width: 1200px;
   height: 500px;
  background-color: #111;
  position: absolute;
  left: 34%;
  top:5%;
  overflow:hidden;
  display: flex;
  justify-content: center;
  border:10px solid rgb(32, 49, 37);
 }
.result-box > label > img{
  width: 100%;
  height: 100%;
}
/* 결과박스-end */

/* title-start */
.box {
  width: 33.3%;
  background: rgb(191,196,164);
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  right:2.5%;
  bottom: 20%;
}
.comment {
  display: block;
  transition: all 1s;
}
.box textarea {
  width: 97%;
  border: none;
  background: #262626;
  padding: 15px;
  height: 50%;
  border-radius: 5px;
  transition: all 0.5s;
  color: #fff;
  font-family: montserrat;
  right: 0.8%;
  position: relative;
}
/* title-end */

button.regist-box {
  background: gray;
  color: #fff;
  padding: 20px 55px;
  border: none;
  cursor: pointer;
  letter-spacing: 4px;
  transition: 1s all;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 30px;
  position: absolute;
  right:26.5%;
  bottom: 7%;
}

button.regist-box:hover {
  background: darkorange;
}

button.correction-box {
  background: gray;
  color: #fff;
  padding: 20px 55px;
  border: none;
  cursor: pointer;
  letter-spacing: 4px;
  transition: 1s all;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 30px;
  position: absolute;
  right:14.5%;
  bottom: 7%;
}

button.correction-box:hover {
  background: rgb(123, 34, 150)
}

button.delete-box {
  background: gray;
  color: #fff;
  padding: 20px 55px;
  border: none;
  cursor: pointer;
  letter-spacing: 4px;
  transition: 1s all;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 30px;
  position: absolute;
  right:2.5%;
  bottom: 7%;
}

button.delete-box:hover {
  background: rgb(226, 8, 8);
} 